packages/
Warzone/bin/
Warzone/obj/
.vs/




<br /><strong><h1 style="font-family:Font2; color: red">Osnovna pravila bezbednosti</h1></strong><br />
						* Pravila sigurnosti u paintball-u izuzetno su stroga, ali upravo iz tog razloga paintball je najsigurniji ekstremni sport.<br />* Zaštitna maska se mora nositi u svakom trenutku dok se nalazite na terenu, i nikada se ne puca u osobu koja ne nosi odgovarajuću zaštitu.<br />
						* Puška mora biti zakočena sigurnosnim tasterom sve vreme dok se igrač nalazi van terena i nikako se ne sme uperivati u igrače čak i ako ste sigurni da je puška prazna. <br />
						* Pucanje je dozvoljeno samo na terenu dok traje igra/borba, onog trenutka kada se oglasi signal za prestanak borbe prestaje se sa pucanjem. <br />
						* najstrože je zabranjeno igranje pod dejstvom alkohola, droga ili bilo kojih ilegalnih supstanci kao i agresivno ponašanje čime se remeti mir i komfor ostalih igrača.