@{
    ViewBag.Title = "Home Page";
}

<section class="menu1">
	<div class="row ">
		<div class="col-md-12 nopadding">
			<div class="slideshow-container">
				<div class="mySlides">
					<img class="sliderdesktop" src="~/Pictures/rodjcover.jpg">
					<img class="slidermobile" src="~/Pictures/rodjcover.jpg" />
					<div class="containerTxtImg1">
						<a style="text-decoration:none;" href="~/gallery/rodjendani"><span class="text1">PROSLAVITE ROĐENDAN<br />SA NAMA</span></a>
					</div>
				</div>
				<div class="mySlides">
					<img class="sliderdesktop" src="~/Pictures/Slider2.jpg">
					<img class="slidermobile" src="~/Pictures/Slider2-mobile.jpg" />
					<div class="containerTxtImg2">
						<a style="text-decoration:none;" href="~/gallery/teambuilding"><span class="text2">TEAM BUILDING</span></a>
					</div>
				</div>
				<div class="mySlides ">
					<img class="sliderdesktop" src="~/Pictures/Slider3.jpg">
					<img class="slidermobile" src="~/Pictures/Slider3-mobile.jpg" />
					<div class="containerTxtImg3">
						<a style="text-decoration:none;" href="#akcije"><span class="text3">ORGANIZATORU 50 KUGLICA<br />GRATIS!!!</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="menu2">
	<div class="row justify-content-center" style="height:60%">
		<div class="col-md-10 col-lg-12 col-xl-12">
			<div class="row">
				<div class="col-md-12 col-lg-6 col-xl-5">
					<div class="leftMenu2">
						<img src="~/Pictures/onamaPic.jpg" />
					</div>
				</div>
				<div class="col-md-12 col-lg-6 col-xl-7">
					<div class="rightMenu2">
						<h3 class="textMenu2"> <strong><h1 style="font-family:Font2; color: red">O Nama</h1></strong><br /><br />
						Paintball klub WARZONE je osnovan 2007. godine u Nišu i više od jedanaest godina se veoma uspešno bavimo ovim sportom o čemu svedoče brojna nezaboravna adrenalinska iskustva. Paintball je najzanimljiviji ekstremni sport koji se igra u prirodnom
						okruženju u zadnjih 20 godina i to širom celog sveta. Igra je bazirana na adrenalinu i zabavi među igračima. Ona jača duh i karakter igrača, gradi im samopouzdanje i razvija samoinicijativu kod pojedinaca i uči ih timskom radu.
						Za ključ uspeha u igri je najbitnija inteligencija i timski rad. Može da se igra profesionalno(turniri) i rekreativno. Mogu da igraju svi stariji od 12 godina. Za decu uzrasta od 8-12 godina koriste se specijalne puškice namenjene
						tom uzrastu. Raspolažemo opremom za decu uzrasta od 8-12 godina (zaštitni prsluk, maska, puškica, kuglice kalibra 0,50) i za odrasle, starije od 12 godina (kombinezon, zaštitni prsluk, maska, rukavice i marker-puška koja koristi kalibar 0,68).
						Organizujemo <a href="~/gallery/rodjendani" style="color:darkblue; font-family:Font2;">dečije rođendane</a>, <a href="~/gallery/teambuilding" style="color:darkblue; font-family:Font2;"> Team Building</a> zabave, i paintball za <a href="~/gallery/odrasli" style="color:darkblue; font-family:Font2;">rekreativce</a>. Za zakazivanje termina potrebno je najmanje 6 igrača. Organizator ekipe dobija 50 kuglica gratis.
						</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row justify-content-center" style="height:40%; padding-top:6em;">
		<div class="col-lg-11 col-xl-11 bottomMenu2">
			<br /><strong><h1 style="font-family:Font2; color: red">Osnovna pravila bezbednosti</h1></strong><br />
			<h4 style="font-family:font2;color: darkblue;">
				* Pravila sigurnosti u paintball-u izuzetno su stroga, ali upravo iz tog razloga paintball je najsigurniji ekstremni sport.<br />* Zaštitna maska se mora nositi u svakom trenutku dok se nalazite na terenu, i nikada se ne puca u osobu koja ne nosi odgovarajuću zaštitu.<br />
				* Puška mora biti zakočena sigurnosnim tasterom sve vreme dok se igrač nalazi van terena i nikako se ne sme uperivati u igrače čak i ako ste sigurni da je puška prazna. <br />
				* Pucanje je dozvoljeno samo na terenu dok traje igra/borba, onog trenutka kada se oglasi signal za prestanak borbe prestaje se sa pucanjem. <br />
				@*<div id="banebane" style="height: 0px;width: 0px;overflow:hidden; position:fixed"></div>*@
				* Najstrože je zabranjeno igranje pod dejstvom alkohola, droga ili bilo kojih ilegalnih supstanci kao i agresivno ponašanje čime se remeti mir i komfor ostalih igrača.
			</h4>
		</div>
	</div>
</section>
<section class="menu3">
	<div class="row justify-content-center">
		<div class="col-md-9 col-lg-7">
			<div class="row">
				<div class="col-md-12 col-lg-12 centralMenu3">
					<p class="textMenu3">PROSLAVITE RODJENDAN SA NAMA</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="menu4">
	<div class="row justify-content-center">
		<div class="col-lg-11 col-xl-11">
			<div class="row">
				<div class="col-md-12 col-lg-7 col-xl-7">
					<div class="leftMenu4">
						<h3 class="textMenu4"><a href="~/gallery/rodjendani" style="text-decoration:none; "><strong><h1 style="font-family:Font2; color:gold; display:inline">ROĐENDANI</h1></strong><br /><br /></a>
	Paintball klub WARZONE organizuje igru i kompletan prateći program u cilju dečije zabave, dok posluženje u vidu sokova, torte i grickalica obezbeđujete i donosite sami po želji. Pored samog terena u bezbednoj zoni postoji
	sto sa klupicama gde možete postaviti i poslužiti okrepljenje za mlade borce. Igrači se dele u 2 ili više tima, i pre borbe kreće obuka i vežbanje gađanja u metu, kao i kompletno upoznavanje takmičara sa pravilima
	igre i bezbednosnim pravilima. Naš sudija je tokom celog događaja uključen u igru, i brine o poštovanju pravila kao i poštovanju bezbednosnih mera. Ne poštovanje pre svega bezbednosnih uslova može rezultirati
	udaljavanjem takmičara sa terena u bezbednu zonu, ili čak i trajno isključenje iz igre. Za uzraste od 8-12 godina koristi se oprema i puške za decu, dok ako je starija grupa u pitanju može se koristiti i oprema za starije.
</h3>
					</div>
				</div>
				<div class="col-md-12 col-lg-5 col-xl-5">
					<div class="rightMenu4">
						<a href="~/Pictures/Slika1rodj.jpg" data-lightbox="mygallery"><img class="galleryMenu4" src="~/Pictures/Slika1rodj.jpg" /></a>
						<a href="~/Pictures/Slika2rodj.JPG" data-lightbox="mygallery"><img class="galleryMenu4" src="~/Pictures/Slika2rodj.JPG" /></a>
						<a href="~/Pictures/Slika4rodj.JPG" data-lightbox="mygallery"><img class="galleryMenu4" src="~/Pictures/Slika4rodj.JPG" /></a>
						<a href="~/Pictures/Slika3rodj.JPG" data-lightbox="mygallery"><img class="galleryMenu4" src="~/Pictures/Slika3rodj.JPG" /></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="menu5">
	<div class="row justify-content-center">
		<div class="col-lg-8 col-xl-6">
			<div class="centarMenu5">
				<a href="~/gallery/teambuilding" style="text-decoration:none; "><h1>TEAM BUILDING</h1></a>
					<h3 class="textMenu5">
						Brojne kompanije su prepoznale, u osnovnim principima ove igre, izuzetno povoljan uticaj koji ona ima na razvoj timskog duha, bez koga u današnjem poslovnom svetu nema uspeha. Takmičarski duh paintball igre podiže moral zaposlenih i izgrađuje
						osećaj povezanosti i zajedništva među članovima tima. Na taj način se stvara odnos međusobnog poverenja, koji se kasnije prenosi i na poslovne aktivnosti i međusobne odnose svih zaposlenih i u radnom okruženju.<br />
						Isprobajte paintball sa kolegama i poslovnim partnerima kompanije i uverite se sami koliko doprinosi razvoju kvalitetnijih međuljudskih odnosa i učvršćava veze uzajamnog poverenja, čak i između ljudi različitih profila i interesovanja.
					</h3>
</div>
		</div>
	</div>
</section>
<section class="menu6">
	<div class="row justify-content-center">
		<div class="col-lg-10">
			<div class="row">
				<div class="col-lg-4">
					<div class="leftMenu6">
						<h1>AKCIJA 1</h1>
						<h3>Sit amet commodo nulla facilisi nullnulla malesuada pellentesque elit eget gravida. Pretnte in. Amet mauris commodo quis imperdiet massa tincidunt. Mi sit amet mauris commodo quis imperdiet. Congue mauris rhoncus aenean vel. Lacus laoreet non curabitur gravida. Nunc non blandit massa enim nec dui nunc. Massa enim nec dui nunc mattis enim ut tellus elementum. Id neque aliquam vestibulum morbi. Cursus metus aliquam eleifend mi in nulla posuere. Sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec. Pellentesque adipiscing commodo elit at imperdiet dui accumsan.</h3>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="centerMenu6">
						<h1>AKCIJA 2</h1>
						<h3>Sit amet commodo nulla facilisi nullnulla malesuada pellentesque elit eget gravida. Pretnte in. Amet mauris commodo quis imperdiet massa tincidunt. Mi sit amet mauris commodo quis imperdiet. Congue mauris rhoncus aenean vel. Lacus laoreet non curabitur gravida. Nunc non blandit massa enim nec dui nunc. Massa enim nec dui nunc mattis enim ut tellus elementum. Id neque aliquam vestibulum morbi. Cursus metus aliquam eleifend mi in nulla posuere. Sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec. Pellentesque adipiscing commodo elit at imperdiet dui accumsan.</h3>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="rightMenu6">
						<h1 style="color:black">AKCIJA 3</h1>
						<h3>Sit amet commodo nulla facilisi nullnulla malesuada pellentesque elit eget gravida. Pretnte in. Amet mauris commodo quis imperdiet massa tincidunt. Mi sit amet mauris commodo quis imperdiet. Congue mauris rhoncus aenean vel. Lacus laoreet non curabitur gravida. Nunc non blandit massa enim nec dui nunc. Massa enim nec dui nunc mattis enim ut tellus elementum. Id neque aliquam vestibulum morbi. Cursus metus aliquam eleifend mi in nulla posuere. Sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec. Pellentesque adipiscing commodo elit at imperdiet dui accumsan.</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script>
	var slideIndex = 0;
	showSlides();

	function showSlides() {
		var i;
		var slides = document.getElementsByClassName("mySlides");
		for (i = 0; i < slides.length; i++) {
			slides[i].style.display = "none";
		}
		slideIndex++;
		if (slideIndex > slides.length) { slideIndex = 1 }

		slides[slideIndex - 1].style.display = "block";
		setTimeout(showSlides, 5000); // Change image every 5 seconds
	}
</script>

