@{
    ViewBag.Title = "Home Page";
}

<section class="menu1">
	<div class="row ">
		<div class="col-md-12 nopadding">
			<div class="slideshow-container">
				<div class="mySlides">
					<img class="sliderdesktop" src="~/Pictures/Slider1.jpg">
					<img class="slidermobile" src="~/Pictures/Slider1-mobile.jpg" />
					@*<div class="text-wrapper text-wrapper-responsive1" style=" margin-top: -10%">
						<h2 class="text1menu1">OSETI ADRENALIN...</h2>
					</div>*@
				</div>
				<div class="mySlides">
					<img class="sliderdesktop" src="~/Pictures/Slider2.jpg">
					<img class="slidermobile" src="~/Pictures/Slider2-mobile.jpg" />
					@*<div class="text-wrapper text-wrapper-responsive2" style="margin-top: -10%; margin-left: -50%">
						<h2 class="text2menu1">...POKRENI ORGANIZAM</h2>
					</div>*@
				</div>
				<div class="mySlides ">
					<img class="sliderdesktop" src="~/Pictures/Slider3.jpg">
					<img class="slidermobile" src="~/Pictures/Slider3-mobile.jpg" />
					@*<div class="text-wrapper text-wrapper-responsive3" style="margin-top: -10%;">
						<h2 class="text3menu1">...NAPRAVI RAZLIKU</h2>
					</div>*@
				</div>
			</div>
		</div>
	</div>
</section>
<section class="menu2">
	<div class="row justify-content-center">
		<div class="col-md-10 col-lg-12 col-xl-11">
			<div class="row">
				<div class="col-md-12 col-lg-6 col-xl-4">
					<div class="leftMenu2">
						<img src="~/Pictures/onamaPic.jpg" />
					</div>
				</div>
				<div class="col-md-12 col-lg-6 col-xl-8">
					<div class="rightMenu2">
						<h3 class="textMenu2"> <strong><h1 style="font-family:Font2">O Nama...</h1></strong><br /><br /><br />
							Paintball klub WARZONE je osnovan 201.. godine  ds njoads Contrary to popular belief, Lorem Ipsum islooked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
						</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="menu3">
	<div class="row justify-content-center">
		<div class="col-md-9 col-lg-7">
			<div class="row">
				<div class="col-md-12 col-lg-12 centralMenu3">
					<p class="textMenu3">PROSLAVITE RODJENDAN SA NAMA</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="menu4">
	<div class="row justify-content-center">
		<div class="col-lg-11 col-xl-11">
			<div class="row">
				<div class="col-md-12 col-lg-5 col-xl-5">
					<div class="leftMenu4">
						<h3 class="textMenu4">
							Lorem ipsum dolor sit amet, cotis id consectetur purus ut. Penmmoncidunt nunc pulvinar sapie rt jrty r ty hjfghj n et ligula ullamcorper malesuada proin libero. Neque vitae tempus quam pellentesque nec nam aliquam.
							S  mattis enim ut tellus elemend mi in nulla portyu tyusuere. Sed egestas ehe yhe yhe yhe y egestas fringilla phasellus faucibus scelerisque eleifend donec. Pellentesque adipiscing commodo elit at imperdiet dui accumsan.
						</h3>
					</div>
				</div>
				<div class="col-md-12 col-lg-7 col-xl-7">
					<div class="rightMenu4">
						<a href="~/Pictures/Slika1rodj.jpg" data-lightbox="mygallery"><img class="galleryMenu4" src="~/Pictures/Slika1rodj.jpg" /></a>
						<a href="~/Pictures/Slika2rodj.JPG" data-lightbox="mygallery"><img class="galleryMenu4" src="~/Pictures/Slika2rodj.JPG" /></a>
						<a href="~/Pictures/Slika4rodj.JPG" data-lightbox="mygallery"><img class="galleryMenu4" src="~/Pictures/Slika4rodj.JPG" /></a>
						<a href="~/Pictures/Slika3rodj.JPG" data-lightbox="mygallery"><img class="galleryMenu4" src="~/Pictures/Slika3rodj.JPG" /></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="menu5">
	<div class="row justify-content-center">
		<div class="col-lg-8 col-xl-6">
			<div class="centarMenu5">
				<h1>TEAM BUILDING</h1>
				<h3 class="textMenu5">
					Sit amet commodo nulla facilisi nullam vehiculatas pretiuulputate dignissim suspendisse in est ante in. Amet mauris commodo quis imperdiet massa tincidunt. Mi sit amet mauris commodo quis imperdiet. Congue mauris rhoncus aenean vel. Lacus laoreet non curabitur gravida. Nunc non blandit massa enim nec dui nunc. Massa enim nec dui nunc mattis enim ut tellus elementum. Id neque aliquam vestibulum morbi. Cursus metus aliquam eleifend mi in nulla posuere. Sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec. Pellentesque adipiscing commodo elit at imperdiet dui accumsan.
					Elit sed 
				</h3>
			</div>
		</div>
	</div>
</section>
<section class="menu6">
	<div class="row justify-content-center">
		<div class="col-lg-10">
			<div class="row">
				<div class="col-lg-4">
					<div class="leftMenu6">
						<h1>AKCIJA 1</h1>
						<h3>Sit amet commodo nulla facilisi nullnulla malesuada pellentesque elit eget gravida. Pretnte in. Amet mauris commodo quis imperdiet massa tincidunt. Mi sit amet mauris commodo quis imperdiet. Congue mauris rhoncus aenean vel. Lacus laoreet non curabitur gravida. Nunc non blandit massa enim nec dui nunc. Massa enim nec dui nunc mattis enim ut tellus elementum. Id neque aliquam vestibulum morbi. Cursus metus aliquam eleifend mi in nulla posuere. Sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec. Pellentesque adipiscing commodo elit at imperdiet dui accumsan.</h3>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="centerMenu6">
						<h1>AKCIJA 2</h1>
						<h3>Sit amet commodo nulla facilisi nullnulla malesuada pellentesque elit eget gravida. Pretnte in. Amet mauris commodo quis imperdiet massa tincidunt. Mi sit amet mauris commodo quis imperdiet. Congue mauris rhoncus aenean vel. Lacus laoreet non curabitur gravida. Nunc non blandit massa enim nec dui nunc. Massa enim nec dui nunc mattis enim ut tellus elementum. Id neque aliquam vestibulum morbi. Cursus metus aliquam eleifend mi in nulla posuere. Sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec. Pellentesque adipiscing commodo elit at imperdiet dui accumsan.</h3>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="rightMenu6">
						<h1 style="color:black">AKCIJA 3</h1>
						<h3>Sit amet commodo nulla facilisi nullnulla malesuada pellentesque elit eget gravida. Pretnte in. Amet mauris commodo quis imperdiet massa tincidunt. Mi sit amet mauris commodo quis imperdiet. Congue mauris rhoncus aenean vel. Lacus laoreet non curabitur gravida. Nunc non blandit massa enim nec dui nunc. Massa enim nec dui nunc mattis enim ut tellus elementum. Id neque aliquam vestibulum morbi. Cursus metus aliquam eleifend mi in nulla posuere. Sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec. Pellentesque adipiscing commodo elit at imperdiet dui accumsan.</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script>
	var slideIndex = 0;
	showSlides();

	function showSlides() {
		var i;
		var slides = document.getElementsByClassName("mySlides");
		for (i = 0; i < slides.length; i++) {
			slides[i].style.display = "none";
		}
		slideIndex++;
		if (slideIndex > slides.length) { slideIndex = 1 }

		slides[slideIndex - 1].style.display = "block";
		setTimeout(showSlides, 5000); // Change image every 5 seconds
	}
</script>

