@{
    ViewBag.Title = "Home Page";
}

<section class="menu1 ">
	<div class="row ">
		<div class="col-md-12 nopadding">
			<div class="slideshow-container">
				<div class="mySlides">
					<img src="~/Pictures/Slider1.jpg">
					<div class="text-wrapper" style=" margin-top: -10%">
						<h2 class="text1">OSETI ADRENALIN...</h2>
					</div>
				</div>
				<div class="mySlides">
					<img src="~/Pictures/Slider2.jpg">
					<div class="text-wrapper" style="margin-top: -10%; margin-left: -50%">
						<h2 class="text2">...POKRENI ORGANIZAM</h2>
					</div>
				</div>
				<div class="mySlides ">
					<img src="~/Pictures/Slider3.jpg">
					<div class="text-wrapper" style="margin-top: -10%;">
						<h2 class="text3">...NAPRAVI RAZLIKU</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="menu2">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-6">
					<div class="leftMenu2">
						<h3 style="padding:1em; font-family: Font1;">
							Contrary to popular belief, Lorem Ipsum is not simply random te over 20essor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

							The standard chunk of Lorelish versions from the 1914 translation by H. Rackham.
						</h3>
					</div>
				</div>
				<div class="col-md-6 rightMenu2"></div>
			</div>
		</div>
	</div>
</section>
<section class="menu3">
</section>
<section class="menu4">
</section>
<script>
	var slideIndex = 0;
	showSlides();

	function showSlides() {
		var i;
		var slides = document.getElementsByClassName("mySlides");
		for (i = 0; i < slides.length; i++) {
			slides[i].style.display = "none";
		}
		slideIndex++;
		if (slideIndex > slides.length) { slideIndex = 1 }

		slides[slideIndex - 1].style.display = "block";
		setTimeout(showSlides, 5000); // Change image every 5 seconds
	}
</script>

