
@{
    ViewBag.Title = "Akcije";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="akcijeSection">
	<div class="row justify-content-center">
		<div class="col-xl-4 naslovAkcije">AKCIJE</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-md-9 col-xs-12">
			<div class="gallery" style="text-align:center;">
				<a href="~/Pictures/Gallery/Akcije/1.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="paintball shirt" src="~/Pictures/Gallery/Akcije/1.JPG" /></a>
				<a href="~/Pictures/Gallery/Akcije/3.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="equipment on fair" src="~/Pictures/Gallery/Akcije/3.JPG" /></a>
				<a href="~/Pictures/Gallery/Akcije/4.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="target on fair" src="~/Pictures/Gallery/Akcije/4.JPG" /></a>
				<a href="~/Pictures/Gallery/Akcije/5.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="girl with rifle on fair" src="~/Pictures/Gallery/Akcije/5.JPG" /></a>
				<a href="~/Pictures/Gallery/Akcije/6.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="girl on stand" src="~/Pictures/Gallery/Akcije/6.JPG" /></a>
				<a href="~/Pictures/Gallery/Akcije/7.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="girl shooting" src="~/Pictures/Gallery/Akcije/7.JPG" /></a>
				<a href="~/Pictures/Gallery/Akcije/8.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="dejan Rambo Petkovic" src="~/Pictures/Gallery/Akcije/8.JPG" /></a>
				<a href="~/Pictures/Gallery/Akcije/9.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="laying on the grass" src="~/Pictures/Gallery/Akcije/9.JPG" /></a>
				<a href="~/Pictures/Gallery/Akcije/10.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="red bull action in park" src="~/Pictures/Gallery/Akcije/10.JPG" /></a>
				<a href="~/Pictures/Gallery/Akcije/11.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="waiting runners" src="~/Pictures/Gallery/Akcije/11.JPG" /></a>
				<a href="~/Pictures/Gallery/Akcije/12.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="shoot on runners" src="~/Pictures/Gallery/Akcije/12.JPG" /></a>
				<a href="~/Pictures/Gallery/Akcije/13.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="national park bubanj" src="~/Pictures/Gallery/Akcije/13.JPG" /></a>
				<a href="~/Pictures/Gallery/Akcije/14.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="national park bubanj" src="~/Pictures/Gallery/Akcije/14.JPG" /></a>
				<a href="~/Pictures/Gallery/Akcije/15.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="national park bubanj" src="~/Pictures/Gallery/Akcije/15.JPG" /></a>
				<a href="~/Pictures/Gallery/Akcije/16.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="paintball competition" src="~/Pictures/Gallery/Akcije/16.JPG" /></a>
				<a href="~/Pictures/Gallery/Akcije/17.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="girl model with gun in swimming suit " src="~/Pictures/Gallery/Akcije/17.JPG" /></a>
				<a href="~/Pictures/Gallery/Akcije/18.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="girl model with gun in swimming suit" src="~/Pictures/Gallery/Akcije/18.JPG" /></a>
				<a href="~/Pictures/Gallery/Akcije/19.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="girl with gun in swimming suit" src="~/Pictures/Gallery/Akcije/19.JPG" /></a>
				<a href="~/Pictures/Gallery/Akcije/20.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="girl with gun in swimming suit" src="~/Pictures/Gallery/Akcije/20.JPG" /></a>
				<a href="~/Pictures/Gallery/Akcije/21.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="girl model with gun in swimming suit" src="~/Pictures/Gallery/Akcije/21.JPG" /></a>
				<a href="~/Pictures/Gallery/Akcije/22.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="girl with gun in swimming suit" src="~/Pictures/Gallery/Akcije/22.JPG" /></a>
				<a href="~/Pictures/Gallery/Akcije/23.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="girl with gun in swimming suit" src="~/Pictures/Gallery/Akcije/23.JPG" /></a>
			</div>
		</div>
	</div>
	<div class="row justify-content-end">
		<div class="col-md-3 col-xs-6">
			<a title="Back" href="~/gallery/index"><img style="width:100%;" src="~/Pictures/backButton.png" /></a>
		</div>
	</div>
</section>
