
@{
	ViewBag.Title = "Index";
}
<style>
	header {
		opacity:0.9;
	}
</style>
<section id="gallerySection">
	<div class="row justify-content-end galleryWrap">
		<div class="col-md-8 col-sm-12 col-xs-12">
			<div class="galleryImgFront">
				<a href="~/gallery/rodjendani"><img src="~/Pictures/RodjendaniZavrsena.jpg" /></a>
				<a href="~/gallery/odrasli"><img src="~/Pictures/odrasliZavrseno.jpg" /></a><br />
				<a href="~/gallery/oprema"><img src="~/Pictures/OpremaZavrseno.jpg" /></a>
				<a href="~/gallery/teren"><img src="~/Pictures/TerenZavrseno.jpg" /></a><br />
				<a href="~/gallery/teambuilding"><img src="~/Pictures/teambZavrseno.jpg" /></a>
				<a href="~/gallery/akcije"><img src="~/Pictures/AkcijeZavrseno.jpg"></a>
			</div>
		</div>
	</div>
</section>

