
@{
	ViewBag.Title = "Index";
}
<section id="gallerySection">
	<div class="row justify-content-end galleryWrap">
		<div class="col-md-7 col-sm-12 col-xs-12">
			<div class="galleryImgFront">
				<a href="~/gallery/rodjendani"><img src="~/Pictures/RodjendaniZavrsena.jpg" /></a>
				<a href=""><img src="~/Pictures/odrasliZavrseno.jpg" /></a><br />
				<a href="~/Pictures/probna1.jpg"><img src="~/Pictures/OpremaZavrseno.jpg" /></a>
				<a href="~/Pictures/probna1.jpg"><img src="~/Pictures/TerenZavrseno.jpg" /></a><br />
				<a href="~/gallery/teambuilding"><img src="~/Pictures/teambZavrseno.jpg" /></a>
				<a href="~/Pictures/probna1.jpg"><img src="~/Pictures/AkcijeZavrseno.jpg"></a>
			</div>
		</div>
	</div>
</section>

