
@{
    ViewBag.Title = "Odrasli";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="odrasliSection">
	<div class="row justify-content-center">
		<div class="col-xl-4 naslovOdrasli">ODRASLI</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-md-9 col-xs-12">
			<div class="gallery" style="text-align:center;">
				<a href="~/Pictures/Gallery/Odrasli/1.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Odrasli/1.JPG" /></a>
				<a href="~/Pictures/Gallery/Odrasli/2.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Odrasli/2.JPG" /></a>
				<a href="~/Pictures/Gallery/Odrasli/3.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Odrasli/3.JPG" /></a>
				<a href="~/Pictures/Gallery/Odrasli/4.jpg" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Odrasli/4.JPG" /></a>
				<a href="~/Pictures/Gallery/Odrasli/5.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Odrasli/5.JPG" /></a>
				<a href="~/Pictures/Gallery/Odrasli/6.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Odrasli/6.JPG" /></a>
				<a href="~/Pictures/Gallery/Odrasli/7.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Odrasli/7.JPG" /></a>
				<a href="~/Pictures/Gallery/Odrasli/8.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Odrasli/8.JPG" /></a>
				<a href="~/Pictures/Gallery/Odrasli/9.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Odrasli/9.JPG" /></a>
				<a href="~/Pictures/Gallery/Odrasli/10.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Odrasli/10.JPG" /></a>
				<a href="~/Pictures/Gallery/Odrasli/11.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Odrasli/11.JPG" /></a>
				<a href="~/Pictures/Gallery/Odrasli/12.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Odrasli/12.JPG" /></a>
				<a href="~/Pictures/Gallery/Odrasli/13.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Odrasli/13.JPG" /></a>
				<a href="~/Pictures/Gallery/Odrasli/14.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Odrasli/14.JPG" /></a>
				<a href="~/Pictures/Gallery/Odrasli/15.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Odrasli/15.JPG" /></a>
				<a href="~/Pictures/Gallery/Odrasli/16.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Odrasli/16.JPG" /></a>
				<a href="~/Pictures/Gallery/Odrasli/17.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Odrasli/17.JPG" /></a>
				<a href="~/Pictures/Gallery/Odrasli/18.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Odrasli/18.JPG" /></a>
				<a href="~/Pictures/Gallery/Odrasli/19.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Odrasli/19.JPG" /></a>
				<a href="~/Pictures/Gallery/Odrasli/20.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Odrasli/20.JPG" /></a>
				<a href="~/Pictures/Gallery/Odrasli/21.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Odrasli/21.JPG" /></a>
				<a href="~/Pictures/Gallery/Odrasli/22.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Odrasli/22.JPG" /></a>
				<a href="~/Pictures/Gallery/Odrasli/23.jpg" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Odrasli/23.JPG" /></a>
				<a href="~/Pictures/Gallery/Odrasli/24.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Odrasli/24.JPG" /></a>
				<a href="~/Pictures/Gallery/Odrasli/25.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Odrasli/25.JPG" /></a>
				<a href="~/Pictures/Gallery/Odrasli/26.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Odrasli/26.JPG" /></a>
				<a href="~/Pictures/Gallery/Odrasli/27.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Odrasli/27.JPG" /></a>
				<a href="~/Pictures/Gallery/Odrasli/28.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Odrasli/28.JPG" /></a>
				<a href="~/Pictures/Gallery/Odrasli/29.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Odrasli/29.JPG" /></a>
				<a href="~/Pictures/Gallery/Odrasli/30.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Odrasli/30.JPG" /></a>
				<a href="~/Pictures/Gallery/Odrasli/31.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Odrasli/31.JPG" /></a>
				<a href="~/Pictures/Gallery/Odrasli/32.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Odrasli/32.JPG" /></a>
				<a href="~/Pictures/Gallery/Odrasli/33.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Odrasli/33.JPG" /></a>
				<a href="~/Pictures/Gallery/Odrasli/34.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Odrasli/34.JPG" /></a>
				<a href="~/Pictures/Gallery/Odrasli/35.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Odrasli/35.JPG" /></a>
			</div>
		</div>
	</div>
	<div class="row justify-content-end">
		<div class="col-md-3 col-xs-6">
			<a title="Back" href="~/gallery/index"><img style="width:100%;" src="~/Pictures/backButton.png" /></a>
		</div>
	</div>
</section>
