
@{
    ViewBag.Title = "Oprema";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="opremaSection">
	<div class="row justify-content-center">
		<div class="col-xl-4 naslovOprema">OPREMA</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-md-9 col-xs-12">
			<div class="gallery" style="text-align:center;">
				<a href="~/Pictures/Gallery/Oprema/1.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Oprema/1.JPG" /></a>
				<a href="~/Pictures/Gallery/Oprema/2.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Oprema/2.JPG" /></a>
				<a href="~/Pictures/Gallery/Oprema/3.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Oprema/3.JPG" /></a>
				<a href="~/Pictures/Gallery/Oprema/4.jpg" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Oprema/4.JPG" /></a>
				<a href="~/Pictures/Gallery/Oprema/5.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Oprema/5.JPG" /></a>
				<a href="~/Pictures/Gallery/Oprema/6.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Oprema/6.JPG" /></a>
				<a href="~/Pictures/Gallery/Oprema/7.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Oprema/7.JPG" /></a>
				<a href="~/Pictures/Gallery/Oprema/8.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Oprema/8.JPG" /></a>
				<a href="~/Pictures/Gallery/Oprema/9.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/Gallery/Oprema/9.JPG" /></a>
			</div>
		</div>
	</div>
	<div class="row justify-content-end">
		<div class="col-md-1">
			<a title="Back" href="~/gallery/index"><img style="width:100%;" src="~/Pictures/backButton.png" /></a>
		</div>
	</div>
</section>

