
@{
    ViewBag.Title = "Rodjendani";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
	<div class="slika">
		<img src="~/Pictures/OpremaZavrseno.jpg" />
		<p class="nekitext">bdnshjbfashjbdfhjabsdfhjbasdhjf</p>
	</div>
</section>

