
@{
    ViewBag.Title = "TeamBuilding";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="teamBuildingSection">
	<div class="row justify-content-center">
		<div class="col-xl-4 naslovTeamBuilding">TEAM BUILDING</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-md-9 col-xs-12">
			<div class="gallery" style="text-align:center;">
				<a href="~/Pictures/Gallery/TeamBuilding/1.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="guys on knees" src="~/Pictures/Gallery/TeamBuilding/1.JPG" /></a>
				<a href="~/Pictures/Gallery/TeamBuilding/2.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="co-workers in fight" src="~/Pictures/Gallery/TeamBuilding/2.JPG" /></a>
				<a href="~/Pictures/Gallery/TeamBuilding/3.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="two fighters" src="~/Pictures/Gallery/TeamBuilding/3.JPG" /></a>
				<a href="~/Pictures/Gallery/TeamBuilding/4.jpg" data-lightbox="mygallery"><img class="gallerythumbs" alt="full squad" src="~/Pictures/Gallery/TeamBuilding/4.JPG" /></a>
				<a href="~/Pictures/Gallery/TeamBuilding/5.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="full squad" src="~/Pictures/Gallery/TeamBuilding/5.JPG" /></a>
				<a href="~/Pictures/Gallery/TeamBuilding/6.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="full squad" src="~/Pictures/Gallery/TeamBuilding/6.JPG" /></a>
				<a href="~/Pictures/Gallery/TeamBuilding/7.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="full squad" src="~/Pictures/Gallery/TeamBuilding/7.JPG" /></a>
				<a href="~/Pictures/Gallery/TeamBuilding/8.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="take no prisoners" src="~/Pictures/Gallery/TeamBuilding/8.JPG" /></a>
				<a href="~/Pictures/Gallery/TeamBuilding/9.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="full squad" src="~/Pictures/Gallery/TeamBuilding/9.JPG" /></a>
				<a href="~/Pictures/Gallery/TeamBuilding/10.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="full squad" src="~/Pictures/Gallery/TeamBuilding/10.JPG" /></a>
				<a href="~/Pictures/Gallery/TeamBuilding/11.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="full squad" src="~/Pictures/Gallery/TeamBuilding/11.JPG" /></a>
				<a href="~/Pictures/Gallery/TeamBuilding/12.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="full squad" src="~/Pictures/Gallery/TeamBuilding/12.JPG" /></a>
				<a href="~/Pictures/Gallery/TeamBuilding/13.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="full squad" src="~/Pictures/Gallery/TeamBuilding/13.JPG" /></a>
				<a href="~/Pictures/Gallery/TeamBuilding/14.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="full squad" src="~/Pictures/Gallery/TeamBuilding/14.JPG" /></a>
				<a href="~/Pictures/Gallery/TeamBuilding/15.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="full squad" src="~/Pictures/Gallery/TeamBuilding/15.JPG" /></a>
				<a href="~/Pictures/Gallery/TeamBuilding/16.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="full squad" src="~/Pictures/Gallery/TeamBuilding/16.JPG" /></a>
			</div>
		</div>
	</div>
	<div class="row justify-content-end">
		<div class="col-md-3 col-xs-6">
			<a title="Back" href="~/gallery/index"><img style="width:100%;"   src="~/Pictures/backButton.png" /></a>
		</div>
	</div>
</section>

