
@{
    ViewBag.Title = "TeamBuilding";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="teamBuildingSection">
	<div class="row justify-content-center">
		<div class="col-md-9 col-xs-12">
			<div class="gallery" style="text-align:center;">
				<a href="~/Pictures/2.jpg" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/2.jpg" /></a>
				<a href="~/Pictures/ttt.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/ttt.jpg" /></a>
				<a href="~/Pictures/probna1.jpg" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/2.jpg" /></a>
				<a href="~/Pictures/probna1.jpg" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/2.jpg" /></a>
				<a href="~/Pictures/probna1.jpg" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/2.jpg" /></a>
				<a href="~/Pictures/probna1.jpg" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/2.jpg" /></a>
				<a href="~/Pictures/2.jpg" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/2.jpg" /></a>
				<a href="~/Pictures/ttt.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/ttt.jpg" /></a>
				<a href="~/Pictures/probna1.jpg" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/2.jpg" /></a>
				<a href="~/Pictures/probna1.jpg" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/2.jpg" /></a>
				<a href="~/Pictures/probna1.jpg" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/2.jpg" /></a>
				<a href="~/Pictures/probna1.jpg" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/2.jpg" /></a>
				<a href="~/Pictures/2.jpg" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/2.jpg" /></a>
				<a href="~/Pictures/ttt.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/ttt.jpg" /></a>
				<a href="~/Pictures/probna1.jpg" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/2.jpg" /></a>
				<a href="~/Pictures/probna1.jpg" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/2.jpg" /></a>
				<a href="~/Pictures/probna1.jpg" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/2.jpg" /></a>
				<a href="~/Pictures/probna1.jpg" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/2.jpg" /></a>
				<a href="~/Pictures/2.jpg" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/2.jpg" /></a>
				<a href="~/Pictures/ttt.JPG" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/ttt.jpg" /></a>
				<a href="~/Pictures/probna1.jpg" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/2.jpg" /></a>
				<a href="~/Pictures/probna1.jpg" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/2.jpg" /></a>
				<a href="~/Pictures/probna1.jpg" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/2.jpg" /></a>
				<a href="~/Pictures/probna1.jpg" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/2.jpg" /></a>
				<a href="~/Pictures/probna1.jpg" data-lightbox="mygallery"><img class="gallerythumbs" src="~/Pictures/2.jpg" /></a>
			</div>
		</div>
	</div>
	<div class="row justify-content-end">
		<div class="col-md-1">
			<a href="~/gallery/index"><img style="width:90%;"   src="~/Pictures/backButton.png" /></a>
		</div>
	</div>
</section>

