
@{
    ViewBag.Title = "Teren";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="terenSection">
	<div class="row justify-content-center">
		<div class="col-xl-4 naslovTeren">TEREN</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-md-9 col-xs-12">
			<div class="gallery" style="text-align:center;">
				<a href="~/Pictures/Gallery/Teren/1.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="paintball field" src="~/Pictures/Gallery/Teren/1.JPG" /></a>
				<a href="~/Pictures/Gallery/Teren/2.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="paintball grass field" src="~/Pictures/Gallery/Teren/2.JPG" /></a>
				<a href="~/Pictures/Gallery/Teren/3.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="paintball field" src="~/Pictures/Gallery/Teren/3.JPG" /></a>
				<a href="~/Pictures/Gallery/Teren/4.jpg" data-lightbox="mygallery"><img class="gallerythumbs" alt="paintball field" src="~/Pictures/Gallery/Teren/4.JPG" /></a>
				<a href="~/Pictures/Gallery/Teren/5.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="paintball battle field" src="~/Pictures/Gallery/Teren/5.JPG" /></a>
				<a href="~/Pictures/Gallery/Teren/6.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="paintball field" src="~/Pictures/Gallery/Teren/6.JPG" /></a>
				<a href="~/Pictures/Gallery/Teren/7.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="paintball field" src="~/Pictures/Gallery/Teren/7.JPG" /></a>
				<a href="~/Pictures/Gallery/Teren/8.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="paintball field" src="~/Pictures/Gallery/Teren/8.JPG" /></a>
				<a href="~/Pictures/Gallery/Teren/9.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="paintball field" src="~/Pictures/Gallery/Teren/9.JPG" /></a>
				<a href="~/Pictures/Gallery/Teren/10.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="paintball field" src="~/Pictures/Gallery/Teren/10.JPG" /></a>
				<a href="~/Pictures/Gallery/Teren/11.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="paintball field" src="~/Pictures/Gallery/Teren/11.JPG" /></a>
				<a href="~/Pictures/Gallery/Teren/12.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="paintball with fightersfield" src="~/Pictures/Gallery/Teren/12.JPG" /></a>
				<a href="~/Pictures/Gallery/Teren/13.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="paintball field" src="~/Pictures/Gallery/Teren/13.JPG" /></a>
				<a href="~/Pictures/Gallery/Teren/14.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="paintball field" src="~/Pictures/Gallery/Teren/14.JPG" /></a>
				<a href="~/Pictures/Gallery/Teren/15.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="paintball field" src="~/Pictures/Gallery/Teren/15.JPG" /></a>
				<a href="~/Pictures/Gallery/Teren/16.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="paintball field" src="~/Pictures/Gallery/Teren/16.JPG" /></a>
				<a href="~/Pictures/Gallery/Teren/17.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="paintball field" src="~/Pictures/Gallery/Teren/17.JPG" /></a>
				<a href="~/Pictures/Gallery/Teren/18.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="nice paintball field" src="~/Pictures/Gallery/Teren/18.JPG" /></a>
				<a href="~/Pictures/Gallery/Teren/19.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="paintball field on snow" src="~/Pictures/Gallery/Teren/19.JPG" /></a>
				<a href="~/Pictures/Gallery/Teren/20.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="paintball field on snow" src="~/Pictures/Gallery/Teren/20.JPG" /></a>
				<a href="~/Pictures/Gallery/Teren/21.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="paintball field on snow" src="~/Pictures/Gallery/Teren/21.JPG" /></a>
				<a href="~/Pictures/Gallery/Teren/22.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="paintball field on snow" src="~/Pictures/Gallery/Teren/22.JPG" /></a>
				<a href="~/Pictures/Gallery/Teren/23.jpg" data-lightbox="mygallery"><img class="gallerythumbs" alt="paintball field on snow" src="~/Pictures/Gallery/Teren/23.JPG" /></a>
				<a href="~/Pictures/Gallery/Teren/24.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="paintball field on snow" src="~/Pictures/Gallery/Teren/24.JPG" /></a>
				<a href="~/Pictures/Gallery/Teren/25.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="paintball field on snow" src="~/Pictures/Gallery/Teren/25.JPG" /></a>
				<a href="~/Pictures/Gallery/Teren/26.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="paintball field on snow" src="~/Pictures/Gallery/Teren/26.JPG" /></a>
				<a href="~/Pictures/Gallery/Teren/27.JPG" data-lightbox="mygallery"><img class="gallerythumbs" alt="paintball field on snow" src="~/Pictures/Gallery/Teren/27.JPG" /></a>
			</div>
		</div>
	</div>
	<div class="row justify-content-end">
		<div class="col-md-3 col-xs-6">
			<a title="Back" href="~/gallery/index"><img style="width:100%;" src="~/Pictures/backButton.png" /></a>
		</div>
	</div>
</section>

